:root{
    --desatured-red: #ce9797;
    --soft-red: hsl(0, 93%, 68%);
    --dark-gray-red:hsl(0, 6%, 24%);
    --Linear-one: linear-gradient(135deg,hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    --linear-two: linear-gradient(135deg,#f8bfbf,#ee8c8c);
}

*{
    font-family: 'Josefin Sans', sans-serif;
    
}

body{
    margin: 0;
    padding: 0;
    background: var(--Linear-one);
}
.container{
    min-width: 370px;
}
.logo{
    margin: 0 0 1.5rem 2rem;
    padding-top: 2rem;

}

.logo img{
    width: 7rem;
}

.image-container{
    background: url("/images/hero-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}
span{
    color: var(--desatured-red);
    font-weight: 300;
    color: var(--desatured-red);
}
h1{
    font-size: 2.2rem;
    margin-top: 3.5rem;
    margin-bottom: .7rem;
    /* padding-left: 5rem;
    padding-right: 5rem; */
    letter-spacing: 1rem;
    list-style: none;
    text-align: center;
    font-weight: 600;
}

p{
    font-size: 15px;
    line-height: 1.5rem;
    text-align: center;
    margin: 0 1.8rem 1rem 1.8rem;
    font-weight: 400;
    color: var(--desatured-red);
}

.input-field{
    /* display: inline-flex; */
}

input{
    width: 80%;
    height: 2.5rem;
    margin-left: 1.7rem;
    margin-top: 1rem;
    /* margin-bottom: 2rem; */
    text-indent: 1rem;
    border-radius: 50px;
    border: 2px solid var(--desatured-red);
    background-repeat: no-repeat;
    opacity: .4;
}
button{
    position: relative;
    width: 20%;
    height: 2.8rem;
    border-radius: 50px;
    border: none;
    bottom: 2.8rem;
    left: 16.5rem;
    background: #f8bfbf;
    background-image: -webkit-linear-gradient(top, #f8bfbf, #ee8c8c);
    background-image: -moz-linear-gradient(top, #f8bfbf, #ee8c8c);
    background-image: -ms-linear-gradient(top, #f8bfbf, #ee8c8c);
    background-image: -o-linear-gradient(top, #f8bfbf, #ee8c8c);
    background-image: linear-gradient(to bottom, #f8bfbf, #ee8c8c);
    -webkit-box-shadow: 0px 7px 20px #ee8c8c;
    -moz-box-shadow: 0px 7px 20px #ee8c8c;
    box-shadow: 0px 7px 20px #ee8c8c;
    background-image: url("/images/icon-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

#error{
    text-align: left;
    margin-top: -2.5rem;
    margin-left: 3rem;
    font-size: 12px;
    padding-bottom: 2rem;
    visibility: hidden;
}

@media (min-width: 1000px){
    .container{
        display: grid;
        grid-template-columns: 58% 42%;
        background: url("/images/bg-pattern-desktop.svg");
        background-position: left;
    }

    .logo{
        height: 20%;
        padding-left: 8.1rem;
        padding-top: 2rem;
    }
    .logo img{
        width: 10rem;
    }
    .image-container{
        background: url("/images/hero-desktop.jpg") no-repeat;
        grid-area: 1/2/span 2/span 2;
        background-size: cover;
        height: 800px;

    }
    .page-container{
        margin-top: -4.8rem;
    }

    .page-container h1{
        width: 60%;
        font-size: 4rem;
        padding-left: 10.5rem;
        text-align: left;
        line-height: 4rem;
        margin-bottom: 2rem;
    }

    .page-container p{
        width: 54%;
        font-size: 1rem;
        padding-left: 8.5rem;
        line-height: 1.5rem;
        text-align: left;
        margin-bottom: 2rem;

    }
    input{
        margin-left: 10.5rem;
        width: 52%;
        padding: .2rem;
        text-indent: 1.5rem;
        font-size: 1rem;
    }
    button{
        width: 13%;
        padding: 1.7rem;
        left: -6.2rem;
        top: -.2rem;

    }
}